<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container">
        
      <div class="row justify-content-center my-3">
        <h1>Bot Browser Control</h1>
      </div>

        <div class="row justify-content-center">
            
          <!-- Canvas Col -->
            <div class="col" style="width: 800px; height: 600px; padding: 0%;">
                <canvas id="stream" height="600" width="800"></canvas>
            </div>
            
            <!-- Control Pannel -->
            <div class="col" style="background-color: lightgreen;">
              
              <div class="row justify-content-center py-3">
                <h3>Controls</h3>
              </div>
 
              <div class="row justify-content-center my-3">
                
                <div class="col">
                
                  <div class="input-group">
                    <input type="number" class="form-control" placeholder="FPS" value="1" id="fps">
                  </div>
                
                </div>
              </div>

              <div class="row justify-content-center my-3">
                <button id="StreamControl" class="btn btn-primary mb-3">Start Streaming</button>
              </div>

              <div class="row justify-content-center my-3">
                
                <div class="col">
                
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter URL">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">Open URL</button>
                    </div>
                  </div>
                
                </div>
              </div>

            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/Scripts/index.js"></script>
  </body>
</html>

